/* ==================================================
   Yukti AI

   Component : Global Base Styles
   File      : base.css
================================================== */


/* ==========================================
   Global Reset
========================================== */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:'Inter',sans-serif;

}


/* ==========================================
   Body
========================================== */

body{

    background:linear-gradient(
        135deg,
        #090B18,
        #111827,
        #1E1B4B
    );

    color:var(--text);

    height:100vh;

    overflow:hidden;

}