# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.envrc

# Build
build/
dist/
*.egg-info/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log