/* ==================================================
   Yukti AI

   Component : Hero Badge
   File      : hero-badge.css
================================================== */


/* ==========================================
   Hero Badge
========================================== */

.hero-badge{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    padding:12px 24px;

    border-radius:999px;

    background:rgba(108,99,255,.10);

    border:1px solid rgba(108,99,255,.28);

    backdrop-filter:blur(18px);

    color:#D8D5FF;

    font-size:15px;

    font-weight:600;

    box-shadow:0 6px 20px rgba(108,99,255,.08);

}

.hero-badge i{

    font-size:16px;

    color:#8B5CF6;

}