/* ==================================================
   Yukti AI

   Component : Hero Title
   File      : hero-title.css
================================================== */


/* ==========================================
   Hero Title
========================================== */

.hero h1{

    font-size:64px;

    font-weight:700;

    letter-spacing:-1px;

    color:#FFFFFF;

    margin:0 0 18px;

}


/* ==========================================
   Highlight Text
========================================== */

.hero span{

    color:#FFFFFF;

    font-weight:700;

}