/* ==================================================
   Yukti AI

   Component : Topbar Title
   File      : topbar-title.css
================================================== */


/* ==========================================
   Welcome Text
========================================== */

.welcome-text{

    font-size:18px;

    color:#9CA3AF;

    font-weight:500;

    margin:0;

}