/* ==================================================
   Yukti AI

   Component : AI Warning
   File      : prompt-warning.css

================================================== */


/* ==========================================
   AI Warning
========================================== */

.ai-warning{

    margin-top:10px;

    text-align:center;

    font-size:12px;

    color:#7F8BA5;

}